.flex {
    &Row {
        &Content {
            &--header-logo {
                padding: 1rem 0;
                border-bottom: 1px solid #CCCCCC;

                @media (max-height:815px) {
                    padding: 10px 0;

                }
            }
        }
    }
}

.flexRow--header-logo {
    margin-top: 15px;

    @media (max-width:1200px) {
        margin-top: 10px;
    }
}

