@import "./modules/login/login";

.dontHaveAccount {
    max-width: 150px;
    text-align: center;
}

:global(.vtex-account) {
    :global(.w-100.mw9.pv7-m.pv9-l.flex) {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    :global(.vtex-pageHeader__container) {

        padding: 0 1rem;

    }
}

:global(.render-container.render-route-store-account) :global(.vtex-store__template.bg-base) :global(.flex.flex-grow-1.bg-below-element) {
    @media (max-height:815px) {
       display: none;

    }
}